
  <% unless @group.owned?(current_user)%>
 
  <div id="follow_form">
  <% if @group.joined?(current_user) %>
    <%= render 'quit' %>
  <% else %>
    <%= render 'join' %>
  <% end %>
  </div>
  <% end %>