<li>
  <%= link_to member.user.name, member.user %>
  <% if current_user?(member.group.owner) && member.user_id!= member.group.owner_id %>
	  <%= link_to "delete", member, method: :delete, data: {confirm: "You sure?"},
	    title: "delete" %>
  <% end %>
</li>