<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% unless user == current_user || current_user.requested_friends.include?(user) || current_user.friends.include?(user) || current_user.pending_friends.include?(user) %>
 <%= link_to "Add friend", user_friendships_path(user.id), method: :post, :class => 'btn btn-mini' %>
  <% end %>
</li>