<%= form_for(@album), user_albums_path, method: :post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <%= f.submit "create", class: "btn btn-large btn-primary" %>
<% end %>