<%= form_for [@group, @group_micropost], method: :post do |group_micropost| %>
  <div class="field">
    <%= group_micropost.text_area :content, placeholder: "Write some thing..." %> 
  </div><br>
  <%= group_micropost.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>