<% unless @user.requested_friends.empty? %>
<% @user.requested_friends.each do |u| %>
<%= link_to u.name, user_path(u.id) %>
Since <%= u.created_at.to_s(:long) %>
<% if signed_in? && @user = current_user %>
<h1><%= link_to 'remove', user_friendship_path(current_user.id, u.id), method: :delete, :confirm => 'Reject friend request! Are you sure?' %></h1>
<% end %>
<% end %>
<% else %>
None
<% end %>