<% provide(:title, "Comment Entry") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= @micropost.user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <span class="content">
    	<%= wrap(@micropost.content) %>
    </span>
  </div>
</div>