<% provide(:title, "Home") %>
<% if signed_in? %>
  <div class="main-content">
    <section>
      <%= render "shared/micropost_form", user: current_user %>
    </section>
    <h3>
      New feeds
    </h3>
    <ul class="posts">
      <% @microposts.each do |micropost| %>
        <% if current_user.id == micropost.friend_id || current_user.friends.include?(micropost.friend_id) %>
          <%= render "shared/list_microposts", micropost: micropost %>
        <% end %>
      <% end %>
    </ul>
  </div>
    <div class="right-sidebar">
      <section>
        <%= render "shared/activities" %>
      </section>
    </div>
  </div> 
<% else %>
	<div class="center hero-unit">
		<h1>
      Wellcome to Facebook
    </h1>
		<h2>
			Connect with friends and the world around you on Facebook.
		</h2>
		<%= link_to "Signup now!!!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>